* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

p {
  font-size: 0.94rem;
  line-height: 1.55rem;
  color: var(--Dark-grayish-blue);
}

body {
  background-color: var(--Off-white);
}

/************** mobile menu **************/
#mobile-menu {
  position: fixed;
  width: 100vw;
  overflow: hidden;
  margin-top: -81.95px;
}
#mobile-menu nav {
  transform: translateX(16em);
  z-index: 10;
  position: absolute;
  width: 16em;
  height: 100vh;
  margin-left: calc(100vw - 16em);
  padding: 1.8em 1.5em;
  background-color: var(--Off-white);
  transition: transform 0.5s;
}
#menu-close {
  margin-left: calc(100% - 32px);
  margin-bottom: 5.3em;
}
#mobile-menu nav ul {
  list-style: none;
  font-size: 1.1rem;
  font-weight: 400;
}
#mobile-menu nav li {
  margin-bottom: 1.5em;
}

#background {
  display: none;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: var(--Dark-grayish-blue);
  opacity: 70%;
}

/************** header **************/

header {
  padding: 1.7em 1em;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

header #logo {
  width: 2.8em;
}

header #icon-menu {
  margin-top: 0.5em;
  height: 1.05em;
}

header nav {
  display: none;
}

@media (min-width: 768px) {
  header {
    padding: 2em 2em 1.5em 2em;
  }
  header #icon-menu {
    display: none;
  }
  header nav {
    display: block;
  }
  header nav ul {
    list-style: none;
    display: flex;
    gap: 2.4em;
    margin-top: 0.6em;
  }
}

@media (min-width: 1440px) {
  header {
    padding: 5.5em 10.3em 1.5em 10.3em;
  }
  header #logo {
    width: 4em;
  }
  header li:hover {
    color: var(--Soft-red);
    cursor: pointer;
  }
}

@media (min-width: 2000px) {
  header {
    padding: 10em 15em 1.5em 15em;
  }
}

@media (min-width: 2560px) {
  header {
    padding: 10em 18.5em 1.5em 20em;
  }
}

/************** main **************/
main {
  margin: 2em 1em;
}

@media (min-width: 768px) {
  main {
    margin: 2em 2em;
    display: grid;
    grid-template-areas:
      'bright-future new'
      'numbered-list numbered-list';
  }
  #bright-future {
    grid-area: bright-future;
  }
  #new {
    grid-area: new;
  }
  #numbered-list {
    grid-area: numbered-list;
  }
}

@media (min-width: 1440px) {
  main {
    margin: 2em 10.3em;
  }
}

@media (min-width: 2000px) {
  main {
    margin: 2em 15em;
  }
}

@media (min-width: 2560px) {
  main {
    margin: 2em 20em;
  }
}

/****** bright-future ******/

#bright-future {
  margin-bottom: 4em;
}

#bright-future #mobile-img {
  width: 100%;
  margin-bottom: 1.3em;
}

#bright-future #desktop-img {
  display: none;
}

#bright-future h1 {
  font-size: 2.55rem;
  line-height: 2.5rem;
  margin-bottom: 0.45em;
}

#bright-future button {
  margin-top: 2em;
  padding: 1.2em 2.3em;
  border: none;
  color: var(--Off-white);
  background-color: var(--Soft-red);
  font-weight: 700;
  letter-spacing: 0.3rem;
}

#bright-future button:hover {
  background-color: var(--Very-dark-blue);
  cursor: pointer;
}

@media (min-width: 768px) {
  #bright-future {
    margin-right: 1em;
    width: 50vw;
  }
  #bright-future h1 {
    line-height: 1.3em;
  }
}

@media (min-width: 1440px) {
  #bright-future {
    margin-right: 2em;
    width: 50vw;
    margin-bottom: 0em;
  }
  #bright-future #mobile-img {
    display: none;
  }
  #bright-future #desktop-img {
    display: block;
    width: 100%;
  }
  #bright-future-text {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #bright-future h1 {
    font-size: 3.57rem;
    line-height: 1em;
  }
  #bright-future p {
    margin-bottom: 0.5em;
  }
  #bright-future p,
  #bright-future button {
    margin-left: 1.2em;
  }
}

@media (min-width: 2560px) {
  #bright-future h1 {
    line-height: 1.2em;
  }
}

/****** new ******/
#new {
  background-color: var(--Very-dark-blue);
  padding: 1.6em;
  color: var(--Grayish-blue);
  margin-bottom: 4.2rem;
}

#new h2 {
  color: var(--Soft-orange);
  font-size: 1.8rem;
  margin-bottom: 1.2em;
}

#new h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
  color: var(--Off-white);
}

#new h3:hover {
  color: var(--Soft-orange);
  cursor: pointer;
}

#new p {
  margin-bottom: 2em;
  font-weight: 400;
  color: var(--Grayish-blue);
}

#new p:last-of-type {
  margin-bottom: 0em;
}

#new hr {
  margin-bottom: 1.7rem;
  border-top: 0.5px;
}

@media (min-width: 768px) {
  #new {
    width: 38vw;
  }
}

@media (min-width: 1440px) {
  #new {
    margin-bottom: 1em;
    width: 25vw;
  }
  #new h2 {
    font-size: 2.4em;
    margin: 0.2em 0 0.7em 0;
  }
}

/****** numbered-list ******/

#numbered-list {
  margin-bottom: 4.2rem;
}
.numbered-list-item {
  display: grid;
  grid-template-columns: 1fr 2.4fr;
  margin-bottom: 1.8em;
}
.numbered-list-item img {
  width: 100%;
}
.numbered-list-text {
  padding-left: 1.5em;
}
.numbered-list-item h2 {
  margin-bottom: 0.2em;
  font-size: 1.9rem;
  color: var(--Grayish-blue);
}
.numbered-list-item h3 {
  font-size: 1.15rem;
  margin-bottom: 0.6em;
}
.numbered-list-item h3:hover {
  color: var(--Soft-red);
  cursor: pointer;
}
@media (min-width: 768px) {
  #numbered-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  #numbered-list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin-top: 3.2em;
  }
  #numbered-list img {
    margin-top: 0.2em;
    width: 6.3em;
  }
  .numbered-list-text {
    padding-left: 1.2em;
  }
  .numbered-list-item h2 {
    margin-bottom: 0.3em;
  }
}
@media (min-width: 2000px) {
  .numbered-list-item {
    grid-template-columns: 1fr 4fr;
  }
}
